<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <title>商品管理</title>
    <!-- 引入樣式文件 -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header>
        <h1>商家管理界面</h1>
    </header>
    <form id="productForm">
        <label for="name">商品名稱:</label>
        <input type="text" id="name" name="name" required>

        <label for="description">商品描述:</label>
        <textarea id="description" name="description" required></textarea>

        <label for="price">價格:</label>
        <input type="number" id="price" name="price" required>

        <label for="stock">庫存:</label>
        <input type="number" id="stock" name="stock" required>

        <button type="submit">添加商品</button>
    </form>
    <div>
        <h2>修改或刪除商品</h2>
        <section id="product-list">
            <!-- 商品列表將在這裡動態生成 -->
        </section>
        <!-- 商品列表和修改刪除功能將在此處實現 -->
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>